<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>conformance</h1>
    <p>This api conforms to</p>
    <% for(var i=0; i < data.conformsTo.length; i++) { %>
          <a href="<%= data.conformsTo[i] %>"><%= data.conformsTo[i] %></a>
          <br>
     <% } %>
  </div>
</main>

<!-- <footer>
  <%- include('../partials/footer'); %>
</footer> -->

</body>
</html>